html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

/*styling fonts*/
h1 {
    font-family: "Mountains of Christmas", serif;
    font-size: 6em;
    color: #f7ef8a;
    margin: 0;
    text-shadow: 5px 5px 6px #ecdcab68;
    font-weight: bolder;

}

p {
    font-family: "Lora", serif;
    opacity: 0.9;
    font-size: 4em;
    color: #342716;
    text-shadow: #5d5d5d 0px 0px 10px 5px;
}

.main_landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: auto;
    text-align: center;
    background: linear-gradient(120deg, #838f61, #AD231E);
  }

span {
    color: #AD231E;
    text-shadow: 5px 5px 6px #ba856f;
    font-weight: lighter;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}


.clock {
    border-radius: 50px;
    display: flex;
    align-items: center;
    font-family: "Mountains of Christmas", serif;
    justify-content: center;
    width: auto;
    height: auto;
    box-shadow: inset 0px 12px 25px 5px #9e825b;
    background: #F6f1e3;
    border: 40px ridge rgba(158, 130, 91, 1);
    opacity: 0.9;
    padding: 10px;
}

.wrap {
    height: auto;
    width: auto;
    border-radius: 50px;
    box-shadow: 0px 7px 8px rgb(234, 221, 170);
    margin: 40px;
}

/*Div to add an animated decoration to my background*/
.snowflakes {
    background-image: url(snowflakes.svg);
    background-size: 10%;
    background-repeat: repeat; /* Ensure the image covers the entire area */
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translate(-50%, 0%);
    z-index: 0;
    height: 100%;
    width: 100%;
    min-width: 500px;
    opacity: 0.1;
    animation: pan 150s linear infinite;
    will-change: background-position;
    overflow: hidden;
}

@keyframes pan {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 0% 100%;
    }
}

/*Media querys*/

@media only screen and (min-width: 600px) {
  .mobile_wrap {
    display: none;
  }



}

@media (max-width: 600px)  {
  
  h1 {
    font-size: 4em;
    margin: 0;
  }

  p {
    font-size: 30px;
  }

  .clock{
    display: none;
  }

  .snowflakes {
    display: none;
  }

  .wrap{
    display: none;
  }

  .mobile_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70%;
    width: 80%;
    margin: 0;
    padding: auto;
    text-align: center;
    background-color: #F6f1e3;
    border-radius: 80%;
    border: 10px ridge rgba(158, 130, 91, 1);
    box-shadow: inset 0px 12px 25px 5px #9e825b;
    opacity: 0.9;

  }
}

